* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}

#logo {
    height: 100px;
}

header > h1{
    display: inline-block;
    vertical-align: top;
    line-height: 100px;
}