* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.font-white {
    color: white;
}

.container {
    background-color: rgb(246 248 249);
    width: 100vw;
    height: 100vh;
}

header {
    background-color: white;
    width: 100%;
}

#logo {
    height: 4rem;
}

header > h1{
    display: inline-block;
    vertical-align: top;
    line-height: 4rem;
}

main {
    margin-top: 4rem;
    border-radius: 10px;
    background-color: white;
    width: 60vw;
    height: 80vh;
}

.menu {
    padding-left: 3rem;
    height: 3rem;
    border-bottom: 2px solid rgb(246, 248, 249);
}

button {
    border: none;
}

.add-task,
.add-section {
    padding: 0.3rem 0.8rem;
    margin-top: 0.75rem;
    border-radius: 0.3rem;
}

.add-section {
    color: rgb(187, 187, 187);
    border: 1px solid rgb(187, 187, 187);
    background-color: white;
}

.blue-bg  {
    background-color: rgb(99 171 235);
}

.new-task {
    margin-top: 2rem;
    padding-left: 3rem;
}

ul {
    list-style: none;
}


